@import url("./nav-bar/nav-bar.css");
@import url("./constants.css");
@import url("./reset.css");
@import url("./btn-blue/btn-blue.css");
@import url("./section-1/section-1.css");
@import url("./section-2/section-2.css");
@import url("./section-3/section-3.css");
@import url("./section-4/section-4.css");
@import url("./section-5/section-5.css");
@import url("./section-6/section-6.css");
@import url("./footer-final/footer-final.css");

body {
  width: 1320px;
  background-color: var(--background-page);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  /* gambiarra / alguma coisa está fazendo aparecer um scroll horizontal, não encontrei ainda... */
  overflow-x: hidden;
}

.div-stores {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.div-stores img {
  width: 127px;
}

.div-stores p {
  font-size: var(--font-p);
  color: var(--text-strong);
}
